/**
 *  @file  fonts.css
 * 
 *  @brief Fuentes externas del tema.
 */

/**
 * Fuente: robotoregular.
 */
@font-face
{
  font-family: 'robotoregular';
  src:  url('../fonts/Roboto-Regular-webfont.eot');
  src:  url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
	url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
	url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.robotoregular
{
  font-family: 'robotoregular';
}

/**
 * Fuente: robotobold.
 */
@font-face
{
  font-family: 'robotobold';
  src:  url('../fonts/Roboto-Bold-webfont.eot');
  src:  url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
	url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
	url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;

}

.robotobold
{
  font-family: 'robotobold';
}

/**
 * Fuente: roboto_condensedbold.
 */

@font-face
{
  font-family: 'roboto_condensedbold';
  src:  url('../fonts/RobotoCondensed-Bold-webfont.eot');
  src:  url('../fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
	url('../fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
	url('../fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.roboto_condensedbold
{
  font-family: 'roboto_condensedbold';
}

/**
 * Fuente roboto_condensedregular
 */

@font-face
{
  font-family: 'roboto_condensedregular';
  src:  url('../fonts/RobotoCondensed-Regular-webfont.eot');
  src:  url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
	url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
	url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.roboto_condensedregular
{
    font-family: 'roboto_condensedregular';
}